In [77]:
import pandas as pd

In [78]:
laliga_df2016_2017 = pd.read_excel("laligadata\\LaLiga16 17.xlsx").dropna(how='all')
laliga_df2017_2018 = pd.read_excel("laligadata\\LaLiga17 18.xlsx").dropna(how='all')
laliga_df2018_2019 = pd.read_excel("laligadata\\LaLiga18 19.xlsx").dropna(how='all')
laliga_df2019_2020 = pd.read_excel("laligadata\\LaLiga19 20.xlsx").dropna(how='all')
laliga_df2020_2021 = pd.read_excel("laligadata\\LaLiga20 21.xlsx").dropna(how='all')
laliga_df2021_2022 = pd.read_excel("laligadata\\LaLiga21 22.xlsx").dropna(how='all')

In [79]:
laliga_df2016_2017.columns.values

array(['Wk', 'Day', 'Date', 'Time', 'Local', 'Score', 'Visitante',
       'Attendance', 'Venue', 'Referee', 'Informe del partido', 'Notes'],
      dtype=object)

In [80]:
primera = pd.concat([laliga_df2016_2017, laliga_df2017_2018, laliga_df2018_2019, laliga_df2019_2020, laliga_df2020_2021, laliga_df2021_2022], ignore_index=True)

In [81]:
primera.head(2)

,Wk,Day,Date,Time,Local,Score,Visitante,Attendance,Venue,Referee,Informe del partido,Notes,xG,xG.1
0,1.0,Vie,2016-08-19,20:45 (15:45),Málaga,1–1,Osasuna,22.347,Estadio La Rosaleda,Santiago Jaime,Informe del partido,NaN,NaN,NaN
1,1.0,Vie,2016-08-19,22:00 (17:00),La Coruña,2–1,Eibar,21.441,Estadio Municipal de Riazor,Mario Melero,Informe del partido,NaN,NaN,NaN

In [82]:
def total_goles(goles_str):
    goles = goles_str.split("–")
    total_goles = int(goles[0]) + int(goles[1])
    return total_goles

In [83]:
def comp_goleslocal(marcador, xg):
    goles = marcador.split("–")
    gol_local = int(goles[0])
    if float(xg) > gol_local:
        return 1
    else:
        return 0
def comp_golesvisita(marcador, xg):
    goles = marcador.split("–")
    gol_visita = int(goles[1])
    if float(xg) > gol_visita:
        return 1
    else:
        return 0

In [85]:
primera['Total de goles'] = primera['Score'].apply(total_goles)

In [86]:
primera['com_local_vs_xg'] = primera.apply(lambda x: comp_goleslocal(x['Score'], x['xG']), axis=1)
primera['com_visita_vs_xg'] = primera.apply(lambda x: comp_golesvisita(x['Score'], x['xG.1']), axis=1)

In [88]:
primera.loc[:, ['Date', 'Local', 'Score', 'Visitante', 'Total de goles', 'com_local_vs_xg', 'com_local_vs_xg']]

,Date,Local,Score,Visitante,Total de goles,com_local_vs_xg,com_local_vs_xg
0,2016-08-19,Málaga,1–1,Osasuna,2,0,0
1,2016-08-19,La Coruña,2–1,Eibar,3,0,0
2,2016-08-20,Barcelona,6–2,Betis,8,0,0
3,2016-08-20,Granada,1–1,Villarreal,2,0,0
4,2016-08-20,Sevilla,6–4,Espanyol,10,0,0
...,...,...,...,...,...,...,...
2275,2022-05-22,Alavés,0–1,Cádiz,1,1,1
2276,2022-05-22,Granada,0–0,Espanyol,0,1,1
2277,2022-05-22,Real Sociedad,1–2,Atlético Madrid,3,1,1
2278,2022-05-22,Barcelona,0–2,Villarreal,2,1,1
2279,2022-05-22,Sevilla,1–0,Athletic Club,1,1,1

In [33]:
laliga123_df2016_2017 = pd.read_excel("laligadata\\LaLiga123 16 17.xlsx").dropna(how='all')
laliga123_df2017_2018 = pd.read_excel("laligadata\\LaLiga123 17 18.xlsx").dropna(how='all')
laliga123_df2018_2019 = pd.read_excel("laligadata\\LaLiga123 18 19.xlsx").dropna(how='all')
laliga123_df2019_2020 = pd.read_excel("laligadata\\LaLiga123 19 20.xlsx").dropna(how='all')
laliga123_df2020_2021 = pd.read_excel("laligadata\\LaLiga123 20 21.xlsx").dropna(how='all')
laliga123_df2021_2022 = pd.read_excel("laligadata\\LaLiga123 21 22.xlsx").dropna(how='all')

In [34]:
laliga123_df2016_2017.columns.values

array(['Round', 'Wk', 'Day', 'Date', 'Time', 'Local', 'Score',
       'Visitante', 'Attendance', 'Venue', 'Referee',
       'Informe del partido', 'Notes'], dtype=object)

In [35]:
segunda = pd.concat([laliga123_df2016_2017,laliga123_df2017_2018,laliga123_df2018_2019,laliga123_df2019_2020,laliga123_df2020_2021,laliga123_df2021_2022 ], ignore_index=True)

In [37]:
segunda.head(2)

,Round,Wk,Day,Date,Time,Local,Score,Visitante,Attendance,Venue,Referee,Informe del partido,Notes
0,Temporada Regular,1.0,Vie,2016-08-19,20:00 (15:00),Mirandés,1–1,Getafe,3.041,Estadio Municipal de Anduva,Alberola Rojas,Informe del partido,NaN
1,Temporada Regular,1.0,Vie,2016-08-19,22:00 (17:00),Almería,1–1,Cádiz,8.771,Estadio de los Juegos Mediterráneos,Francisco Arias,Informe del partido,NaN