In [4]:
import pandas as pd

# Data Cleaning

In [11]:
df1 = pd.read_csv("..\\data\\peliculas\\movie_metadata.csv").dropna(how='all')
df1 = df1[['movie_title', 'title_year', 'language', 'genres',
           'duration', 'gross', 'movie_facebook_likes', 'director_name', 'country',
           'actor_2_name','actor_2_name','actor_3_name']]

In [12]:
df1.columns

Index(['movie_title', 'title_year', 'language', 'genres', 'duration', 'gross',
       'movie_facebook_likes', 'director_name', 'country', 'actor_2_name',
       'actor_2_name', 'actor_3_name'],
      dtype='object')

In [13]:
df1.head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_2_name,actor_2_name,actor_3_name
0,Avatar,2009.0,English,Action|Adventure|Fantasy|Sci-Fi,178.0,760505847.0,33000,James Cameron,USA,Joel David Moore,Joel David Moore,Wes Studi
1,Pirates of the Caribbean: At World's End,2007.0,English,Action|Adventure|Fantasy,169.0,309404152.0,0,Gore Verbinski,USA,Orlando Bloom,Orlando Bloom,Jack Davenport
2,Spectre,2015.0,English,Action|Adventure|Thriller,148.0,200074175.0,85000,Sam Mendes,UK,Rory Kinnear,Rory Kinnear,Stephanie Sigman
3,The Dark Knight Rises,2012.0,English,Action|Thriller,164.0,448130642.0,164000,Christopher Nolan,USA,Christian Bale,Christian Bale,Joseph Gordon-Levitt
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,Documentary,NaN,NaN,0,Doug Walker,NaN,Rob Walker,Rob Walker,NaN

In [16]:
df1 ['movie_title'].unique()

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'A Plague So Pleasant', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [15]:
df1 = df1.replace('\xa0', '', regex=True)

In [18]:
df1.duplicated().sum(), df1['movie_title'].duplicated().sum()

(123, 126)

In [19]:
duplicados_df1 = df1[df1.duplicated(keep=False)]
duplicados_df1.head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_2_name,actor_2_name,actor_3_name
6,Spider-Man 3,2007.0,English,Action|Adventure|Romance,156.0,336530303.0,0,Sam Raimi,USA,James Franco,James Franco,Kirsten Dunst
17,The Avengers,2012.0,English,Action|Adventure|Sci-Fi,173.0,623279547.0,123000,Joss Whedon,USA,Robert Downey Jr.,Robert Downey Jr.,Scarlett Johansson
25,King Kong,2005.0,English,Action|Adventure|Drama|Romance,201.0,218051260.0,0,Peter Jackson,New Zealand,Thomas Kretschmann,Thomas Kretschmann,Evan Parke
30,Skyfall,2012.0,English,Action|Adventure|Thriller,143.0,304360277.0,80000,Sam Mendes,UK,Helen McCrory,Helen McCrory,Rory Kinnear
33,Alice in Wonderland,2010.0,English,Adventure|Family|Fantasy,108.0,334185206.0,24000,Tim Burton,USA,Alan Rickman,Alan Rickman,Anne Hathaway

In [20]:
df1 = df1.drop_duplicates(subset=['movie_title'])

In [21]:
df1.duplicated().sum(), df1['movie_title'].duplicated().sum()

(0, 0)

In [22]:
df1.isna().sum()

movie_title               0
title_year              106
language                 14
genres                    0
duration                 15
gross                   863
movie_facebook_likes      0
director_name           102
country                   5
actor_2_name             13
actor_2_name             13
actor_3_name             23
dtype: int64

In [25]:
df1[(df1['gross'].isna())&(df1['movie_facebook_likes']==0)].head()

Empty DataFrame
Columns: [movie_title, title_year, language, genres, duration, gross, movie_facebook_likes, director_name, country, actor_2_name, actor_2_name, actor_3_name]
Index: []

In [24]:
df1 = df1[~(df1['gross'].isna())|~(df1['movie_facebook_likes']==0)]

In [26]:
df1.head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_2_name,actor_2_name,actor_3_name
0,Avatar,2009.0,English,Action|Adventure|Fantasy|Sci-Fi,178.0,760505847.0,33000,James Cameron,USA,Joel David Moore,Joel David Moore,Wes Studi
1,Pirates of the Caribbean: At World's End,2007.0,English,Action|Adventure|Fantasy,169.0,309404152.0,0,Gore Verbinski,USA,Orlando Bloom,Orlando Bloom,Jack Davenport
2,Spectre,2015.0,English,Action|Adventure|Thriller,148.0,200074175.0,85000,Sam Mendes,UK,Rory Kinnear,Rory Kinnear,Stephanie Sigman
3,The Dark Knight Rises,2012.0,English,Action|Thriller,164.0,448130642.0,164000,Christopher Nolan,USA,Christian Bale,Christian Bale,Joseph Gordon-Levitt
5,John Carter,2012.0,English,Action|Adventure|Sci-Fi,132.0,73058679.0,24000,Andrew Stanton,USA,Samantha Morton,Samantha Morton,Polly Walker

In [30]:
df1['duration'].describe()

count    4644.000000
mean      107.655798
std        23.813111
min         7.000000
25%        94.000000
50%       104.000000
75%       118.000000
max       334.000000
Name: duration, dtype: float64

In [29]:
df1['duration'] = df1['duration'].fillna(df1['duration'].mean())

In [31]:
df1 = df1.fillna('Desconocido')

In [32]:
df1.isna().sum()

movie_title             0
title_year              0
language                0
genres                  0
duration                0
gross                   0
movie_facebook_likes    0
director_name           0
country                 0
actor_2_name            0
actor_2_name            0
actor_3_name            0
dtype: int64